{% extends 'spin_base/home_base.html' %}
{% load i18n %}

{% block extrahead %}
	{{form.media}}
{% endblock %}

{% block content %}
	<div class="span6 offset3 well">
		<form action="{% url 'spin:password-recovery' %}" class="spin-form" method="post">
			<fieldset>
				<legend>{% trans 'Recover your password' %}</legend>
				{% csrf_token %}
				<div class="control-group {% if form.username.errors %}error{% endif %}">
					<label>{% trans 'Please, insert your username' %}</label>
					<div class="control">
						{{form.username}}
						{% if form.username.errors %}
							<span class="help-block">
								{% for error in form.username.errors %}
									{{ error }}<br/>
								{% endfor %}
							</span>
						{% endif %}
					</div>
				</div>
				<input type="submit" value="{% trans 'Recover' %}" />
			</fieldset>
		</form>
		<div class="row-fluid">
			<a href="{% url 'spin:username-recovery' %}">{% trans 'Recover your username' %}</a>
		</div>
	</div>
{% endblock %}