{% extends 'spin_base/home_base.html' %}
{% load i18n %}


{% block extrahead %}
	{{form.media}}
{% endblock %}

{% block content %}
	<div class="row-fluid well">
		<form action="{% url 'spin:set-new-password' pk=recovery.pk %}" class="spin-form" method="post">
			<fieldset>
				<legend>{% trans 'Recover your password' %}</legend>
				{% if form.non_field_errors %}
					<div class="alert alert-block alert-error fade in">
						<span class="alerthelp-inline">{{ form.non_field_errors }}</span>
					</div>
				{% endif %}
				{% csrf_token %}
				<div class="control-group {% if form.username.errors %}error{% endif %}">
					<label>{% trans 'Please, insert your username' %}</label>
					<div class="control {% if form.username.errors %}error{% endif %}">
						{% if form.username.errors %}
							<span class="help-block">
								{% for error in form.username.errors %}
									{{ error }}<br/>
								{% endfor %}
							</span>
						{% endif %}
						{{form.username}}
					</div>
				</div>
				<div class="control-group {% if form.password.errors %}error{% endif %}">
					<label>{% trans 'Insert a new password and confirm it' %}</label>
					<div class="control {% if form.password.errors %}error{% endif %}">
						{% if form.password.errors %}
							<span class="help-block">
								{% for error in form.password.errors %}
									{{ error }}<br/>
								{% endfor %}
							</span>
						{% endif %}
						{{form.password}}
						{{form.confirm_password}}
					</div>
				</div>
				<input type="submit" value="{% trans 'Set new' %}" />
			</fieldset>
		</form>
	</div>
{% endblock %}