{% load i18n %}
{% load tz %}

{% if paginator.count > 0 %}
	<div class="row-fluid">
		<div class="btn-toolbar">
			<div class="btn-group">
				{% if page_obj.has_previous %}
					<a href="?page={{page_obj.previous_page_number}}"><button class="btn"><i class="icon-arrow-left"></i>&nbsp;{% trans 'Previous' %}</button></a>
				{% endif %}
				{% for page_number in paginator.page_range %}
					{% if page_number >= page_obj.number|add:"-5" or page_number >= page_obj.number|add:"5" %}
						{% if page_number != page_obj.number %}
							<a href="?page={{page_number}}"><button class="btn">{{page_number}}</button></a>
						{% else %}
							<button class="btn disabled">{{page_number}}</button>
						{% endif %}
					{% endif %} 
				{% endfor %}
				{% if page_obj.has_next %}
					<a href="?page={{page_obj.next_page_number}}"><button class="btn">{% trans 'Next' %}<i class="icon-arrow-right">&nbsp;</i></button></a>
				{% endif %}
			</div>
		</div>
		{% for spin in page_obj %}
			{% include 'element_box/spin_box.html' %}
		{% endfor %}
	{% else %}
		{% if simply_list %}
			<div class="row-fluid">
				<div class="well">
					<h5>{% trans "Your followings haven't yet spinned...or you aren't following someone..." %}</h5>
				</div>
			</div>
		{% endif %}
	</div>
{% endif %}
