{% extends 'spin_base/home_base.html' %}
{% load i18n %}

{% block content %}
	<div class="row-fluid">
		<h4>{% trans 'Password recovery message' %}</h4>
	</div>
	<div class="row-fluid well">
		<p>{% blocktrans %}{{lost_user.name}} the following link is valid for 20 minutes, do quickly, click on or copy and paste it on your browser.{% endblocktrans %}</p>
		<a href="{{server_url}}{% url 'spin:set-new-password' pk=lost_user.pk %}" />
	</div>
	<div class="row-fluid well">
		{% blocktrans %}If you should encounter some problem, contact us.{% endblocktrans %}
	</div>
{% endblock %}